<ion-header no-border>
  <ion-toolbar >
    <ion-title>Novo Cadastro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-text-center">

  <ion-card>

    <ion-card-header>
   
      <ion-item> 
        <ion-label position="floating">Nome: </ion-label>
        <ion-input placeholder="Digite o nome aqui"></ion-input>
      </ion-item>
    </ion-card-header>

    <ion-card-content>
      
      <ion-item>
        <ion-label position="floating">Função: </ion-label>
        <ion-input placeholder="Digite a função aqui"></ion-input>
      </ion-item>
      
    </ion-card-content>
  </ion-card>

  <ion-button expand="block">
    <ion-icon slot="end" name="checkmark"></ion-icon>
    Criar Usuário
  </ion-button>
  
</ion-content>

